<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1-strict.dtd">
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title> WELCOME </title>

        <!-- You must include this JavaScript file -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    </head>
    <body>
    <div class="container" id="introduction" style="max-width:1400px">
        <div id="start-experiment" class="jumbotron" >
            <h1 class="display-4"> Introduction </h1>
            <p class="lead"> Your faithful participation will help us establish a theory about good practices in using visualizations for data-driven journalism. <br></p>
            <p class="lead"> The goal of this experiment is to evaluate thumbnails designed for news articles. </p>
            <p class="lead"> This experiment is confirmed by IRB (UNISTIRB-18-52-C). Click below button to see the IRB approval document.</p>
            <button type="button" id="show-irb" class="btn btn-info">See IRB</button><br>
            <hr class="my-4">
            <p class="lead">
            <h3>Please acknowledge the  following restrictions before participating in our experiment. If you do not satisfy these restrictions, you will <strong style="color:red"> NOT  </strong>receive compensation for your participation. Please read them carefully.</h3>
            <ul>
                <li>You must use a display with a sufficiently high resolution (minimum 1024 X 768). If your display has an insufficient display resolution, you may not proceed.</li>
                <li>You can use a personal desktop or laptop computer. Participation with tablets, smart phones, or other mobile devices is not permitted. </li>
                <li>You may be asked to maximize your browser window if its initial size is insufficient for participation.</li>
            </ul>
            </p>
            <hr class="my-4">
            <p>
            <h1 class="display-4">Tutorial</h1>
            <p class="lead">
            <ol type="a">
                <li> In this experiment, you will describe a thumbnail designed for a news article about a current topic in politics or economics. </li>
                <li> When you begin the experiment, you will be asked to complete a demographic survey.</li>
                <li> After the survey, you will be shown a thumbnail designed for a news article and evaluate how helpful the thumbnail is for you to guess the content of the article. Your responses will be entered as scores ranging from 1 to 7, with 7 being the highest score.</li>
                <li> With the given thumbnail, you will be asked to write a prediction of the contents of the article in 300 characters or less (minimum 70 characters).  </li>
                <li> You will then be shown the actual news article associated with the thumbnail. You will read the article in 3 minutes and answer a simple question. The answer to this simple question can be found in the contents of the article, so please read the article thoroughly.
                    <strong> IF YOU ANSWER INCORRECTLY, YOUR PARTICIPATION IN THE EXPERIMENT WILL END AND YOUR COMPENSATION WILL BE PRO-RATED.</strong></li>
                <li> You will see then revisit the prediction that you wrote in c to evaluate again after you read the article. After an evaluation on the helpfulness of the thumbnail, you will be asked to answer 7 short questions about the news article, the thumbnail, and your initial description.
                    <strong style="color:red"> YOUR ANSWER MUST BE WRITTEN IN ENGLISH TO RECEIVE COMPENSATION. </strong></li>
                <li> Finally, you will evaluate helpfulness of the thumbnail again.</li>
                <li> After completing steps c. to g., you will be provided with a  token number. You must take note of this token number and enter it into it to the HIT on Amazon Mechanical Turk. <storng> Supplying a valid token is necessary for your compensation. </storng> </li>
                <li> Your prediction will be evaluated by other Mechanical Turk workers. We will provide additional compensation ($1) for predictions that are deemed to be a high quality (top 25% answers). Conversely, if your prediction is deemed to be of low quality, your compensation will be prorated.</li>
                <li> The image below summarizes steps you will take during the experiment. </li>
            </ol>
            </p>
            <p> <center> <img src="{% static "study3_overview.png" %}"  style="max-width: 80%;" /> </center></p>
            <hr class="my-4">
            <h2 class="display-4" style="color:red">CAUTION</h2>
            <p class="lead">
            <ul>
                <li>You are<strong style="color:red"> NOT </strong>allowed to use the <strong>“back” </strong>  and <strong>“refresh”</strong> functions in the browser.
                <li>Furthermore, <strong> creating a new tab or browser window </strong> is <strong style="color:red"> NOT </strong>permitted.
                    If any violation occurs, your participation will be canceled and you will not be compensated.   </li>
                <li>We will monitor your activity as you complete the steps listed above. Your recorded activity will be used to compute an `attention score’; <strong> if your attention score is too low,</strong> you will <strong style="color:red">NOT</strong> be compensated.  </li>
                <li>Please refer to our compensation standard below. </li>
                <ol type="A">
                    <li>No Compensation:</li>
                    <ol type="i">
                        <li> Your screen resolution is too low or you use a prohibited device (e.g., mobile device, tablet),</li>
                        <li> You toggle your browser’s back or refresh buttons, or you open a new browser tab/window after starting the experiment,</li>
                        <li> You idle for too long (i.e., no mouse activity occurs for several minutes), </li>
                        <li> You provide an incorrect answer to the simple question,</li>
                        <li> You do not appropriately respond to the questions. (e.g., writing meaningless characters, marks, words, sentences and others that are not related to answering the questions), </li>
                        <li> Your text includes  non-English characters. </li>
                    </ol>
                    <li>Full Compensation ($1) </li>
                    <ol type="i">
                        <li> You finish tasks without violating any rules in A </li>
                    </ol>
                    <li>Additional Bonus ($1)</li>
                    <ol type="i">
                        <li> You will receive a bonus ($1) based on your score evaluated by other turkers <strong style="color:red">($1 for top 25% answers).</strong> </li>
                    </ol>
                </ol>
                <li> Your attention score will not be revealed to you during the experiment. Should you not agree to the activity tracking used to compute your attention score, you may not proceed to perform this experiment. If you agree, please proceed to complete the tasks.</li>
            </ul>
            <br>
            <div class="text-right"> <button type="button"  onclick="location.href='{% url 'info2' %}'" class="btn btn-info" id="write-info">Begin Experiment</button></div> <br>
        </div>
        <div id="cant-experiment" style="display:none;">
            <p class="lead">  You should use a display with a  high resolution. If your display has an insufficient display resolution, you are not allowed to proceed.
                Participation with tablets is not permitted.</p>
        </div>
    </div>
        {% block content %} {% endblock %}
    </body>
    <script>
        console.log($(window).width());
        console.log($(window).height());
        console.log(window.screen.width);
        console.log(window.screen.height);
        console.log(window.screen.availWidth);
        console.log(window.screen.availHeight);

        if(800 > window.screen.width) {
            $('#cant-experiment').css("display", "block");
            $('#start-experiment').css("display", "none");
        }

        if ( $(window).width()/window.screen.width < 0.8) {
               alert("Your browser should be maximized and have \"100%\" font size ratio in the setting.");
        }

        $('#show-irb').click(function(){window.open('/static/irb.pdf');});

         $(window).resize(function() {
            var window_width = window.outerWidth;
            if ( window_width/window.screen.width < 0.8) {
                alert("Your browser should be maximized and have \"100%\" font size ratio in the setting."); }
        });

    </script>
</html>
<style>
    .column {
        flex: 50%;
        padding: 5px;
    }
    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }
    /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column2 {
        width: 16.66%;
        padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .tnv-container1 tnv-container2{
        margin: 5px;
    }

    ul {
        font-size:15pt;
    }
    ol {
        font-size:15pt;
    }
    @media (min-width: 1200px) {
        .container {max-width:1400px}
    }

</style>
<link rel="stylesheet" src="{% static "css/style.css" %}" />
